@mixin title {
 color: $color-white;
 font-size: toRem(1.9);
 font-weight: 500;
 line-height: toRem(2.1);
 margin: $mrg-half 0;

 span {
  color: $title;
 }

 @media (max-width: 1200px) {
  font-size: toRem(1.6);
  line-height: toRem(2);
 }

 @media (max-width: 990px) {
  font-size: toRem(1.3);
  line-height: toRem(1.8);
 }
}

@mixin subtitle {
 color: $color-white;
 font-size: toRem(1.6);
 font-weight: 500;
 line-height: toRem(1.8);
 margin: $mrg-quarter 0;

 span {
  color: $title;
 }

 @media (max-width: 1200px) {
  font-size: toRem(1.3);
  line-height: toRem(1.5);
 }

 @media (max-width: 1023px) {
  font-size: toRem(1.1);
  line-height: toRem(1.3);
 }
}

@mixin text {
 color: $text;
 font-size: toRem(0.95);
 font-weight: 300;

 span {
  color: $title;
  text-shadow: $shadow-title-span;
  font-weight: 400;
 }

 @media (max-width: 1023px) {
  font-size: toRem(1);
 }
}
