$shadow-primary: 4px 8px 10px rgba($shadow, 0.6), -2px -1px 10px rgba($shadow, 0.6);
$shadow-secondary: 5px 5px 6px rgba($shadow, 0.6);
$shadow-navbar: 0px 2px 4px rgba($shadow, 0.3), 0px 3px 5px rgba($shadow, 0.2);
$shadow-title: 1px 0.5px 0.5px rgba($color-white, 0.35), 1px 0.5px 0.5px rgba($color-white, 0.35),
 1px 0.5px 0.5px rgba($color-white, 0.35);
$shadow-title-span: 1px 0.5px 0.5px rgba($title, 0.35), 1px 0.5px 0.5px rgba($title, 0.35), 1px 0.5px 0.5px rgba($title, 0.35);
$shadow-text: 1px 0.5px 0.5px rgba($text, 0.35), 1px 0.5px 0.5px rgba($text, 0.35), 1px 0.5px 0.5px rgba($text, 0.35);
