.about-us {
 margin-top: $mrg-triple;
 position: relative;

 .content {
  position: relative;
  width: 100%;

  h2 {
   text-align: center;
  }

  .text-left,
  .text-right {
   position: relative;
   padding: $pad-onehalf;
   width: 100%;

   h3 {
    margin-top: 0;
   }
  }

  .text-left {
   h3 {
    color: $text-purple;
    text-shadow: $shadow-purple-light;
   }
  }

  .text-right {
   background-color: $purple-very-dark;
   text-align: right;
  }
 }
}
