.testimonials {
 margin-top: $mrg-triple;
 position: relative;

 .content {
  position: relative;
  width: 100%;

  h2 {
   text-align: center;
  }

  .testimonial-slider {
   height: 400px;
   margin-top: $mrg-onehalf;
   position: relative;
   width: 100%;

   @media (max-width: 600px) {
    height: 450px;
   }
  }
 }
}
