.welcome-banner {
 position: relative;
 padding: $pad-double;
 padding-top: $pad-fourth;
 width: 100%;

 &::before {
  background-color: rgba($purple-ultra-dark, 0.9);
  content: '';
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
 }

 .content {
  position: relative;
  width: 100%;

  .banner-text {
   background-color: rgba($purple-dark, 0.45);
   backdrop-filter: blur(5px);
   border-radius: 5px;
   position: relative;
   padding: $pad-half;
   text-align: center;
   width: 100%;
   z-index: 5;

   h1 {
    margin-top: 0;
    text-shadow: $shadow-white;

    span {
     text-shadow: $shadow-purple;
    }
   }

   p {
    text-shadow: $shadow-text;
    margin-bottom: $mrg-half;
   }

   ul {
    margin-bottom: $mrg-half;

    li {
     @include text;
     margin-bottom: $mrg-quarter;
     text-align: left;

     span {
      color: $text-white;
      text-shadow: $shadow-white-light;
      font-weight: 500;
     }
    }
   }

   @media (max-width: 600px) {
    p {
     font-size: toRem(1);
    }

    ul {
     li {
      font-size: toRem(1);
     }
    }
   }
  }
 }
 @media (max-width: 990px) {
  padding: $pad-onehalf $pad-quarter;
  padding-top: $pad-fourth;
 }
}
